@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
main {
    padding: 40px;
    }

.container {
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    }

    .upload-header {
    display: flex;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    padding: 5px;
    margin-bottom: 5px;
    }

    #lang-drop {
        width: 180px;
        height: 30px;
        margin-left: 30px;
        margin-top: 20px;
        border-radius: 0%;
        border: 1px solid #809a32;
        padding:3px;
    }

    .UP-h {
        font-size: 30px;
        margin-bottom: 30px;
    }

.upload-box {
    border: 8px dashed rgb(219, 249, 219);
    height: 500px;
    width: 600px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    }

   .icon{
        font-size: 100px;
        color: red;
    }

    .form-head {
        margin-bottom: 20px;
    }
    
    input[type=text], select, textarea {
        width: 80%;
        padding: 12px;
        margin-bottom: 15px;
        border: 1px solid black;
        border-radius: 15px;
        resize: vertical;
    }

    .upload-btn {
        display: flex;
        justify-content: space-between;
    }

    button {
        width: 30%;
        padding: 12px;
        margin-bottom: 15px;
        border: 1px solid black;
        border-radius: 15px;

    }

    .farm-relief-upload {
        font-family: 'Style Script';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 61px;
        color: #38470B;
    }
    
    @media screen and (max-width: 769px) {
        .container {
            display: grid;
            grid-template-columns: 1fr;
            }

        main {
            padding: 15px;
            font-size: small;
            }

        .upload-box {
                border: 8px dashed rgb(219, 249, 219);
                height: 300px;
                width: 100%;
           }

            input[type=text], select, textarea {
        width: 100%;
        padding: 12px;
        margin-bottom: 10px;
    }

    .farm-relief-upload {
        font-size: 30px;
        line-height: 31px;
    }
      }

  